(arbor-component
  (meta-data (version "0.1-dev"))
  (decor
    {%- for param_name, param in global_params.items() %}
    {%- if param.mech is defined %}  
    (default (density (mechanism "{{ param.mech }}" ("{{ param.name }}" {{ param.value }}))))
    {%- else %}
    (default ({{ param.name }} {{ param.value }}))
    {%- endif %}
    {%- endfor %}

    {%- for loc, mech_parameters in section_params %}
    {%- for mech, params in mech_parameters %}
    {%- if mech is not none %}
    (paint {{region_ref[loc]}} (density (mechanism "{{ mech }}" {%- for param in params %} ("{{ param.name }}" {{ param.value }}){%- endfor %})))
    {%- else %}
    {%- for param in params %}
    (paint {{region_ref[loc]}} ({{ param.name }} {{ param.value }}))
    {%- endfor %}
    {%- endif %}
    {%- endfor %}

    {%- endfor %}{# TODO: range params #}))
