language: python
matrix:
    include:
        - python: 2.7
        - python: 3.6
        - python: 3.7
          dist: xenial
          sudo: true
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/6129e0ab91805bbac8c1
    on_success: change
    on_failure: change
    on_start: false
cache:
    pip: true
    directories:
      - "$TRAVIS_BUILD_DIR/.tox"
git:
  depth: 2147483647
deploy:
  provider: pypi
  user: wvangeit
  password:
    secure: B5wyxcjPTa8KDE6HZ/5f/yj7F/qzTDWa7GS0b7xqn/vvBxyWTdYwnjNOD7VDNmZ3U46zV8UGTSZDV0MDiIoKamnWZAaJEHg9tEyFl/74rGtWq2k7eYC/qt+I2r68DDeEBDf6kErgcpKJzQ4FyzUcNjVlvtqRNowCcdpU0ViwIRNWDTdOxMaeQz9pwlSK00oF2clNRrnDmMfsq03zOmn49PNMf80tFqZ8CpLBH/Dbbar8LIxpr5qCyDz/OUZKl2cmH2dg95cA9RIjVzA07m1+TXLwrRkeC4lShKUKv4FdCzVdiFTtaZlKOaJRHewaLdv8huPzUcFFkDMbe7bf1RNzeBAeHcQcp/Y8bhg0ZXtyo+aqCsOIDGN7mLCBzbojO+f20+t5jJ6bLe27CQL5UCWFXwElTMdgFczTgnN1UFj4qr86tHtu64E2SnavkCldtoi5XcAagtEIrxujBCjCoccmPk5oqUfT62dw92SCm2/NZTgn6qGVZCCucFXd7V2lnxPp26NMnTce46p2fZuNDiSIhijVnx6dW/WgwAWWgk7/mgeQaZG4d2+YznoGAaDbFO/anunSD/KOvNwgFJjjKddkCPqgcIrXS5NQHq60rTkdyajDDSCqYPNSntXp+qbLCHd9Ty7bs8L111ede9o3X4fFo44sT825obVSR4+lYHEdefs=
  on:
      condition: "$TRAVIS_EVENT_TYPE != cron && $TRAVIS_PYTHON_VERSION == 2.7"
before_install: 
  - pip install pip --upgrade
  - pip install tox --upgrade
  - pip install codecov
script: tox -e "$(echo py$TRAVIS_PYTHON_VERSION | tr -d .)-unit-functional-style"
after_success:
  - codecov
addons:
  code_climate:
    repo_token: 94713078b6ae3fe8344e80649ea189e2e0d0cb78e707edf169b3ff9d3765da46
