include versioneer.py
include bluepyopt/_version.py
include bluepyopt/ephys/templates/cell_template.jinja2

include LICENSE.txt
include AUTHORS.txt
include LGPL.txt
recursive-include bluepyopt/tests *
