(arbor-component
  (meta-data (version "0.1-dev"))
  (meta-data (info "test-label-dict"))
  (label-dict
  {%- for loc, parameters in section_params %} {# could also use channels.keys() #}
    {%- if regions[loc].defn is not none %}
    {{ regions[loc].defn }}
    {%- endif %}
  {%- endfor %}))
